@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes shimmer {
  0% {
    background-position: -1000px;
  }
  100% {
    background-position: 1000px;
  }
}

.quote-skeleton {
  position: relative;
}

.skeleton-line {
  position: relative;
  overflow: hidden;
  background: linear-gradient(90deg, #eee 8%, #ddd 18%, #eee 33%);
  animation: shimmer 2s infinite linear;
  background-size: 1000px 100%;
}
